In [1]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv("panas_csv.csv")

In [7]:
df.head()

   1st  2nd  3rd
0    4    5    6
1    7    8    9
2    3    4    5

In [10]:
df[[1st]]

SyntaxError: invalid syntax (<ipython-input-10-9d17555234bf>, line 1)

In [11]:
df.describe()

            1st       2nd       3rd
count  3.000000  3.000000  3.000000
mean   4.666667  5.666667  6.666667
std    2.081666  2.081666  2.081666
min    3.000000  4.000000  5.000000
25%    3.500000  4.500000  5.500000
50%    4.000000  5.000000  6.000000
75%    5.500000  6.500000  7.500000
max    7.000000  8.000000  9.000000